<h2>My Favorites</h2>

<% @current_user.favorites.each do |favorite| %>
    <% if favorite.food.present? %>
      <p> Favortie Food:
      <%= link_to favorite.food.name, favorite.food %>
      </p>
    <% end %>

  <% if favorite.region.present? %>
    <p> Favortie Region:
      <%= link_to favorite.region.name, favorite.region %>
    </p>
  <% end %>

  <% if favorite.restaurant.present? %>
    <p> Favortie Restaurant:
      <%= link_to favorite.restaurant.name, favorite.restaurant %>
    </p>
  <% end %>
<% end %>
