<h1>Welcome to Lima Food Guide</h1>

<% if @current_user.present? %>
  <marquee>
    <h2>WELCOME BACK <%= @current_user.email %></h2>
    <p>Peru is one of the most biologically and climatically diverse countries in the world, something that’s reflected in its culinary scene. The country has long been acknowledged as the gastronomic capital of South America, and Lima is where this fantastic cuisine comes together.</p>
  </marquee>
<% end %>
