<h1 class="text-center">Lima Food Guide</h1>
<div class="text-center">
  <img src="https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/ca_0518NID_Women_Peru_online.jpg?itok=bfgnN1RC" class="img-xl" style="width: 100%" alt="homepage">
</div>


<% if @current_user.present? %>
  <marquee>
    <h5>WELCOME BACK <%= @current_user.email %></h5>
  </marquee>
<% end %>
